SeaService/Service References/UpLoadService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpLoadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IUpLoadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="SavePath" element="tns:SavePath" />
    <wsdl:part name="listFile" element="tns:listFile" />
  </wsdl:message>
  <wsdl:message name="ReMessage">
    <wsdl:part name="parameters" element="tns:ReMessage" />
  </wsdl:message>
  <wsdl:message name="ReMessage_Headers">
    <wsdl:part name="IsPass" element="tns:IsPass" />
  </wsdl:message>
  <wsdl:message name="IUpLoadService_GetNewFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewFiles" />
  </wsdl:message>
  <wsdl:message name="IUpLoadService_GetNewFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IUpLoadService_DownLoadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFile" />
  </wsdl:message>
  <wsdl:message name="IUpLoadService_DownLoadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpLoadService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpLoadService/UploadFileResponse" name="ReMessage" message="tns:ReMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewFiles">
      <wsdl:input wsaw:Action="GetAllFiles" message="tns:IUpLoadService_GetNewFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpLoadService/GetNewFilesResponse" message="tns:IUpLoadService_GetNewFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadFile">
      <wsdl:input wsaw:Action="DownLoadFile" message="tns:IUpLoadService_DownLoadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpLoadService/DownLoadFileResponse" message="tns:IUpLoadService_DownLoadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpLoadService" type="tns:IUpLoadService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IUpLoadService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="SavePath" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="listFile" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReMessage">
        <soap:header message="tns:ReMessage_Headers" part="IsPass" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewFiles">
      <soap:operation soapAction="GetAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadFile">
      <soap:operation soapAction="DownLoadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpLoadService">
    <wsdl:port name="BasicHttpBinding_IUpLoadService" binding="tns:BasicHttpBinding_IUpLoadService">
      <soap:address location="http://iz28lble4wbz:8001/UpLoadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>